.dark-mode-input {
  height: 0;
  width: 0;
  visibility: hidden;
}

.dark-mode-label {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #101c34;
  border: 2px solid #fcf4cc;
  aspect-ratio: 5/2;
  border-radius: 5vh;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  user-select: none;
}

.day {
  color: #101c34;
  font-weight: 700;
}

.night {
  color: #fcf4cc;
  font-weight: 700;
}

.dark-mode-label:after {
  font-family: "Courier New", Courier, monospace;
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fcf4cc;
  width: 36%;
  height: 90%;
  position: absolute;
  top: 5.56%;
  right: 2%;
  border-radius: 50%;
  transition: transform 0.5s ease-in-out, right 0.5s ease-in-out,
    background-color 0.5s ease-in-out, color 0.5s ease-in-out,
    content 0.5s ease-in-out;
}

.dark-mode-input:checked + .dark-mode-label:after {
  right: 63%;
  background-color: #101c34;
}

.dark-mode-input:checked + .dark-mode-label {
  background-color: #fcf4cc;
  border: 2px solid #101c34;
}

@media screen and (max-aspect-ratio: 373 / 602) {
  .dark-mode-label {
    height: 40%;
  }
}

@media screen and (min-aspect-ratio: 373 / 602) {
  .dark-mode-label {
    height: 50%;
  }
}
