.game-mode-selector {
    position: relative;
    justify-content: center;
    width: 100vw;
    display: grid;
    gap: 0.5vh;
    grid-template-columns: 6.229548vh 16.33987vh;
    grid-template-rows: 6.229548vh;
    font-weight: 600;
    font-size: 2vh;
}

.game-mode-selector.dark .accordion-button,
.game-mode-selector.dark .accordion-item,
.game-mode-selector.dark .accordion-body,
.game-mode-selector.dark .play-btn{
    color: #101c34;
    background-color: #ffffff;
}

.game-mode-selector .accordion-button,
.game-mode-selector .accordion-item,
.game-mode-selector .accordion-body,
.game-mode-selector .play-btn {
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.game-mode-selector.light .accordion-button,
.game-mode-selector.light .accordion-item,
.game-mode-selector.light .accordion-body,
.game-mode-selector.light .play-btn{
    color: #fcf4cc;;
    background-color: #5c4c34;
}

.play-btn{
    border-top-left-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
}
.play-btn:hover {
    cursor: pointer;
}

.accordion-item{
    height: 6.229548vh;
    border: none;

}

.accordion-header {
    display: flex;
    width: 100%;
    height: 100%;
}
.accordion-header:target {
    border: none;
}

.accordion-button {
    font-size: 2vh;
    font-weight: inherit;
}
.accordion-button:not(.collapsed) {
    background-color: transparent !important;
    color: inherit !important;
    box-shadow: none !important;
}
.accordion-button:focus {
    outline: none !important;
    box-shadow: none !important;
}

.accordion-collapse {
    position: relative;
    width: 16.33987vh;
    top: -10%;
    border-bottom-left-radius: 0;
}

.accordion-body {
    padding: 0;
    background-color: #ffffff;
    border-bottom-right-radius: 0.375rem;
}

ol{
    width: 100%;
    padding: 0;

}

li {
    display: flex;
    align-items: center;
    list-style-type: none;
    width: 100%;
    height: 6.229548vh;
    cursor: pointer;
    user-select: none;
}
li:hover {
    background-color: #e0eaf5;
    border-bottom-right-radius: 0.375rem;
}

.current-mode {
    position: relative;
    left: -5%;
}

.mode{
    position: relative;
    left: 10%;
}