.game-mode-selector {
    position: relative;
    justify-content: center;
    width: 100vw;
    display: grid;
    gap: 0.5vh;
    grid-template-columns: 6.229548vh 16.33987vh;
    grid-template-rows: 6.229548vh;
    font-weight: 600;
    font-size: 2vh;
}

.game-mode-selector.dark .accordion-button,
.game-mode-selector.dark .accordion-item,
.game-mode-selector.dark .accordion-body,
.game-mode-selector.dark .play-btn{
    color: #101c34;
    background-color: #ffffff;
}

.game-mode-selector .accordion-button,
.game-mode-selector .accordion-item,
.game-mode-selector .accordion-body,
.game-mode-selector .play-btn {
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.game-mode-selector.light .accordion-button,
.game-mode-selector.light .accordion-item,
.game-mode-selector.light .accordion-body,
.game-mode-selector.light .play-btn{
    color: #fcf4cc;;
    background-color: #5c4c34;
}

.game-mode-selector .play-btn{
    border-top-left-radius: 1vh;
    border-bottom-left-radius: 1vh;
}
.game-mode-selector .play-btn:hover {
    cursor: pointer;
}

.game-mode-selector .accordion {
    border-radius: 0 1vh 1vh 0 !important;
}

.game-mode-selector .accordion-item{
    height: 6.229548vh;
    border: none;
    border-radius: 0 1vh 1vh 0 !important;
}

.game-mode-selector .accordion-header {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 0 1vh 1vh 0 !important;
}
.game-mode-selector .accordion-header:target {
    border: none;
    border-radius: 0 1vh 1vh 0 !important;
}

.game-mode-selector .accordion-button {
    width: 100%;
    height: 100%;
    font-size: 2vh;
    font-weight: inherit;
    border-radius: 0 1vh 1vh 0 !important;
}
.game-mode-selector .accordion-button:not(.collapsed) {
    background-color: transparent !important;
    color: inherit !important;
    box-shadow: none !important;
    border-radius: 0 1vh 1vh 0 !important;
}
.game-mode-selector .accordion-button:focus {
    outline: none !important;
    box-shadow: none !important;
    border-radius: 0 1vh 1vh 0 !important;
}

.game-mode-selector.light .accordion-button::after {
    filter: brightness(0) saturate(100%) invert(93%) sepia(2%) saturate(2735%) hue-rotate(1deg) brightness(104%) contrast(98%);
}
.game-mode-selector.dark .accordion-button::after {
    filter: brightness(0) saturate(100%) invert(13%) sepia(11%) saturate(2659%) hue-rotate(182deg) brightness(88%) contrast(103%);
}

.game-mode-selector .accordion-collapse {
    position: relative;
    width: 16.33987vh;
    top: -10%;
    border-bottom-left-radius: 0;
}

.game-mode-selector .accordion-body {
    padding: 0;
    background-color: #ffffff;
    border-bottom-right-radius: 1vh;
}

.game-mode-selector ol{
    width: 100%;
    padding: 0;

}

.game-mode-selector li {
    display: flex;
    align-items: center;
    list-style-type: none;
    width: 100%;
    height: 6.229548vh;
    cursor: pointer;
    user-select: none;
}
.game-mode-selector .selector-list.last:hover {
    border-bottom-right-radius: 1vh;
}
.game-mode-selector.dark .selector-list:hover {
    background-color: #e0eaf5;
}
.game-mode-selector.light .selector-list:hover {
    background-color: #e0c294;
}

.game-mode-selector .current-mode {
    position: relative;
    left: -5%;
}

.game-mode-selector .mode{
    position: relative;
    left: 10%;
}