.keyboard {
  max-height: 198.88px;
  height: 42.86vw;
  max-width: 464px;
  width: 100vw;
  
}

.backspace-img {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%)
    contrast(100%);
  width: 42.86%;
  height: 50%;
  pointer-events: none;
}

.keyboard-key.backspace {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #1a1a1a;
  width: 15.09%;
}

.keyboard-key {
  height: 92.84%;
  font-size: 120%;
  font-weight: 700;
  margin: 0.5%;
}

.keyboard-key.letter {
  width: 8.62%;
  background-color: #808080;
}

.keyboard-key.enter {
  background-color: #1a1a1a;
  font-size: 0.8em;
  width: 12.93%;
}

.keyboard-row {
  display: flex;
  height: 33.33%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
