.navbar {
  height: 7.725vh;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.navbar.dark {
  background-color: #101c34;
}

.navbar.light {
  background-color: #fcf4cc;
}

.nav-brand {
  transition: color 0.5s ease-in-out;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
}
.navbar.dark .nav-brand {
  color: #e0eaf5;
}

.navbar.light .nav-brand {
  color: #5c4c34;
}

.stats.container,
.info.container {
  width: 20%;
  max-width: 50px;
  padding: 0;
}

.button.container {
  padding: 0;
  width: 60px;
  margin-left: 10px;
  margin-right: 10px;

}

.stats-icon {
  bottom: 9%;
}

.info-icon {
  bottom: 5%;
}

.stats-icon,
.info-icon {
  cursor: pointer;
  position: relative;
  transition: color 0.5s ease-in-out;
}

.navbar.dark .stats-icon,
.navbar.dark .info-icon {
  color: #e0eaf5;
}

.navbar.light .stats-icon,
.navbar.light .info-icon {
  color: #5c4c34;
}

.nav-item.dropdown > a {
  transition: color 0.5s ease-in-out;
}

.navbar.dark .nav-item.dropdown > a {
  color: #e0eaf5;
}

.navbar.light .nav-item.dropdown > a {
  color: #5c4c34;
}