.leader-board {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    aspect-ratio: 2;
    flex: 2;
}

.leader-board tr {
    display: flex;
    justify-content: space-between;
}

.leader-board th {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.leader-board td {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}