.restart-button {
  position: relative;
  padding: 1em;
}

.wordle-board {
  aspect-ratio: 145/174;
  display: grid;
  grid-template-columns: 17.24% 17.24% 17.24% 17.24% 17.24%;
  grid-template-rows: 14.37% 14.37% 14.37% 14.37% 14.37% 14.37%;
  gap: 2%;
  margin-bottom: 20px;
}

@media screen and (max-aspect-ratio: 373 / 602) {
  .wordle-board {
    font-size: 8vw;
    width: 77vw;
  }
  .message {
    font-size: 5vw;
  }
}

@media screen and (min-aspect-ratio: 373 / 602) {
  .wordle-board {
    font-size: 4vh;
    height: 57vh;
  }
  .message {
    font-size: 2.8vh;
  }
}

.tile {
  font-size: inherit;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: 700;
  user-select: none;
}

.tile-inner {
  font-size: inherit;
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease-in-out;
  transition-delay: calc(var(--index) * 0.3s);
  transform-style: preserve-3d;
}

.tile.black .tile-inner {
  transform: rotateX(180deg);
}

.letter {
  font-size: inherit;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out,
    border-color 0.5s ease-in-out;
}

.letter.light {
  color: #fcf4cc;
}
.letter.dark {
  color: #e0eaf5;
}

.letter.green.light {
  border: 2px solid #5c825c;
  background-color: #5c825c;
}

.letter.green.dark {
  border: 2px solid #4caf50;
  background-color: #4caf50;
}

.letter.orange.light {
  border: 2px solid #ffcf59;
  background-color: #ffcf59;
}

.letter.orange.dark {
  border: 2px solid orange;
  background-color: orange;
}

.letter.grey.dark {
  border: 2px solid #28344c;
  background-color: #28344c;
}

.letter.grey.light {
  border: 2px solid #e0c294;
  background-color: #e0c294;
}

.letter.black {
  border: 2px solid;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out,
    border-color 0.5s ease-in-out;
  transform: rotateX(180deg);
}

.letter.black.light {
  color: #5c4c34;
  border-color: #e0c294;
  background-color: #fcf4cc;
}

.letter.black.dark {
  border-color: #28344c;
  background-color: #101c34;
}

.message {
  position: relative;
  top: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  font-weight: 400;
  font-family: inherit;
  user-select: none;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.message.dark {
  color: #101c34;
  background-color: #e0eaf5;
}

.message.light {
  color: #fcf4cc;
  background-color: #5c4c34;
}

.restart-button {
  cursor: pointer;
  user-select: none;
  border: none;
  border-radius: 6px;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.restart-button.dark {
  background-color: #e0eaf5;
  color: #101c34;
}

.restart-button.light {
  color: #fcf4cc;
  background-color: #5c4c34;
}

p, h1, h3 {
  transition: color 0.5s ease-in-out;
  font-weight: 500;
}

p.dark, h1.dark, h3.dark {
  color: #e0eaf5;
}

p.light, h1.light, h3.light {
  color: #5c4c34;
}