main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 93.9vh;
  width: 100%;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

main.light {
  color: #333333;
  background-color: #fcf4cc;
}

main.dark {
  background-color: #101c34;
}
