#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-align: center;
}

.restart-button {
  position: relative;
  padding: 1em;
}

.message {
  position: absolute;
  left: 110px;
  bottom: 335px;
  background-color: #1a1a1a;
  z-index: 1;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.2em 0.2em;
  font-size: 0.8em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
}

.wordle-board {
  aspect-ratio: 145/174;
  display: grid;
  grid-template-columns: 17.24% 17.24% 17.24% 17.24% 17.24%;
  grid-template-rows: 14.37% 14.37% 14.37% 14.37% 14.37% 14.37%;
  gap: 3%;
  margin-bottom: 20px;
}

@media screen and (max-aspect-ratio: 373 / 602) {
  .wordle-board {
    width: 80%;
  }
}

@media screen and (min-aspect-ratio: 373 / 602) {
  .wordle-board {
    height: 57%;
  }
}

.tile {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: 700;
  user-select: none;
}

.tile-inner {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease-in-out;
  transition-delay: calc(var(--index) * 0.3s);
  transform-style: preserve-3d;
}

.tile.black .tile-inner {
  transform: rotateX(180deg);
}

.letter {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out,
    border-color 0.5s ease-in-out;
}

.letter.light {
  color: #fcf4cc;
}
.letter.dark {
  color: #e0eaf5;
}

.letter.green.light {
  border: 2px solid ;
  border-color: #5c825c;
  background-color: #5c825c;
}

.letter.green.dark {
  border: 2px solid ;
  border-color: #4CAF50;
  background-color: #4CAF50;
}

.letter.orange.light {
  border: 2px solid ;
  border-color: #ffcf59;
  background-color: #ffcf59;
}

.letter.orange.dark {
  border: 2px solid;
  border-color: #FFD700;
  background-color: #FFD700;
}

.letter.grey.dark {
  border: 2px solid;
  border-color: #28344c;
  background-color: #28344c;
}

.letter.grey.light {
  border: 2px solid;
  border-color: #e0c294;
  background-color: #e0c294;
}

.letter.black {
  border: 2px solid;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out,
    border-color 0.5s ease-in-out;
  transform: rotateX(180deg);
}

.letter.black.light {
  color: #5c4c34;
  border-color: #e0c294;
  background-color: #fcf4cc;
}

.letter.black.dark {
  border-color: #28344c;
  background-color: #101c34;
}
